.calc {
	&__block {
		display: flex;
		margin: 0 -15px;
	}
	&__title {
		font-size: 28px;
		line-height: 1.5;
		text-shadow: 1px 1px 2px rgb(#000, 0.2);
		margin: 20px;
	}
	&__form {
		margin: -5px 0;
	}
	&__form-item {
		display: flex;
		align-items: center;
		padding: 5px 0;
	}
	&__image {
		height: 30px;
		width: 30px;
	}
	&__button-input {
		border-radius: 0px 5px 5px 0px;
	}
	&__form-item-button {
		display: flex;
		margin: 0 -5px;
	}
	&__button {
		margin: 0 5px;
	}
	&__block-inputs {
		padding: 0 15px;
	}
	@media (max-width: 810px) {
		&__block {
			flex-direction: column;
		}
	}
	@media (min-width: 811px) {
		&__block-inputs {
			flex: 0 1 50%;
		}
	}
}
