.menu__settings {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 0 0;
}
.menu__row-button {
	display: flex;
	gap: 5px;
}
.menu__row-button-right {
	justify-content: flex-end;
	padding-left: 5px;
}