.percent {
	&__body {
		margin: 30px 0;
	}
	&__block {
		display: grid; 
		gap: 10px;
		box-shadow: 0 15px 20px rgba(#000, 0.07);
		background: var(--background-color);
		padding: 20px;
	}
	&__input-range {
		width: 100%;
		appearance: none;
		
		&::-webkit-slider-runnable-track {
			border-radius: 10px/100%;
			height: 7px;
			border: 1px solid var(--primary-color);
			background-image: linear-gradient(210deg, var(--additional-color-1), var(--additional-color-2));
			box-shadow: 0 5px 10px rgba(#000, 0.1);
		}
		&::-webkit-slider-thumb {
			background: var(--primary-color);
			border: 1px solid var(--primary-color);
			border-radius: 10px/100%;
			cursor: pointer;
			width: 15px;
			height: 15px;
			-webkit-appearance: none;
			margin-top: -5px;
		}
	}
	&__text {
		font-size: 18px;
	}
}
