.sum__body {
	padding: 30px 0 0 0;
}
.sum__column {
	box-sizing: border-box;
	padding: 0 10px;
	flex: 1;
	margin: 0 0 20px 0;
}
@media (max-width: 870px) {
	.sum__column {
		flex: 0 1 50%;
	}
	.sum__column:last-child {
		flex: 1 1 100%;
	}
}
@media (min-width: 600px) {
	.sum__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -20px;
	}
}
@media (max-width: 601px) {
	.sum__column {
		padding: 0;
	}
}