@import "~normalize.css";
:root {
  --primary-color: #252B42;
  --additional-color-1: #fa8354;
  --additional-color-2: #ff4400;
  --background-color: #f9f9f9;
}

.body {
  background: #e5e5e5;
  font-size: 16px;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.text {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

