.block__title {
	font-size: 28px;
	line-height: 1.5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	margin: 20px;
}
.block__form {
	margin: -5px 0;
}
.block__item_button {
	margin: 0 -5px;
	display: flex;
	align-items: center;
}
.block__button {
	margin: 0 5px;
}
.block__item {
	padding: 5px 0;
}
