.downloads-list__title {
	font-size: 28px;
	line-height: 1.5;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	margin: 20px;
}
.downloads-list__column {
	display: grid;
	gap: 10px;
}

.observer {
	height: 20px;
}