.page {
	display: flex;
	justify-content: center;
}
.page__button {
	border-radius: 5px;
	margin: 0 5px;
	font-size: 22px;
	opacity: 0.5;
}
.page__button:hover {
	opacity: 1;
}
.page__active {
	opacity: 1;
	color: #000;
}