.sum__column {
	box-sizing: border-box;
	padding: 0 10px;
	flex: 1;
	margin: 0 0 20px 0;
}
.sum__item {
	display: grid;
	gap: 10px;
	height: 100%;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.07);
	box-sizing: border-box;
	background: var(--background-color);
	padding: 20px;
	text-align: center;
}
.sum__image {
	height: 60px;
}
@media (max-width: 870px) {
	.sum__column {
		flex: 0 1 50%;
	}
	.sum__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 601px) {
	.sum__column {
		padding: 0;
	}
}